.container {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.title {
  font-size: 25px;
  color: #fff;
  font-weight: 700;
}

.inputWrapper {
  width: 100%;
  display: flex;
}
